/* header */
#header{
  background-color: white;
}
#header-container {
  height: 125px;
  border-bottom: solid 1px #c8c7cc;
}
#header-container .logo{
padding: 1.5%;
}
#header-container .logo .logo-image {
float: left;
}
.header-right{
  float: right;
  padding: 2%;
  color:#543c27;
}
/* 全体 */
body{
  text-align:center;
  margin:0 auto;
  background-color: #EBB14E;
  height:100%;
}
/* leftnav */
div.leftnav{
  float: left;
  width: 17%;
  margin:3% 0%;
}
/* ボタン */
div.button1{
  color:#543c27;
  text-align:center;
  background-color: white;
  margin: 0% 10%;
  border-radius: 5px;
  margin-bottom:10%;
}
div.button2{
  color:white;
  text-align:center;
  background-color: #543c27;
  margin: 0% 10%;
  border-radius: 5px;
  margin-bottom:10%;
}
button.button1{
  color:#543c27;
  text-align:center;
  background-color: white;
  margin: 0% 10%;
  border-radius: 5px;
  margin-bottom:10%;
  padding: 0% 20%;
}
/* マイページ */
div.mypage{
  background-color: white;
  margin: 20% 10%;
  height:300px;
  color:#543c27;
  padding: 10% 0%;
}
/* タップエリア */
button.login{
  background-color: white;
  width:150px;
  height: 150px;
  border-radius: 50%;
  color:#543c27;
}
#edit_area{
  font-size:30px;
  font-weight: bold;
  font-family: sans-serif;
}
/* mainarea */
div.mainarea{
  margin: 0px auto;
  padding-top: 3%;
  float: left;
  width: 58%;
  height: 100%;
  background-color: white;
}
.case{
  margin: 5% 0%;
}
/* rightnav */
div.rightnav{
  float: left;
  width: 17%;
  margin:3% 4% 0% 4%;
}
/* Google Map */
@media (max-width: 1050px) and (min-width: 768px){
 iframe{
  width:500px; /* 横幅 */
  height:400px; /* 縦幅 */
　}
}
/* Twitter */
.twitter-timeline{
  /* height:983px!important; */
}
/* footer */
#footer{
  background-color: white;
  height: 125px;
  border-top: solid 1px #c8c7cc;
  float:left;
  width:100%;
  text-align: center;
  color:#543c27;
  font-size: small;
}



.container {
    width: 75%;
    padding: 90px 50px;
    background-color: #fff;
}

.form-group {
    display: flex;
    margin: 50px;
}

h2, .form-button {
    text-align: center;
}

label {
    padding: 0 60px;
    font-weight: 500;
}

#konzatu-label {
    padding-right: 44px
}

.form-control {
    width: 50%
}
